/* SignUpPage.css */

.SignUpForm {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 10px auto;
   
  }
  
  .formRow {
    display: flex;
    margin-bottom: 15px;
  }
  
  .formField {
    flex: 1;
    margin-right: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #28bdbc;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #28bdbc;
  }
  