.header
{
    background-color: #bbd0e5;
    padding: 20px 100px;
    /* padding-top: 30px; */
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logoText
{
  color: #153f4c;
}
.navItems button
{
   margin-right: 20px;
}

